<mat-toolbar id="main-toolbar">
    <mat-toolbar-row>
        <div id="logoToolBar"></div>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <h1>Dynatron</h1>
        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: .60em; margin-right: 20px; float: right;"> {{ name }} </label>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav id="sidenav" #sidenav [opened]="opened" mode="side" style="width: 250px;">
        <ng-material-multilevel-menu 
            [items]='menuList'
            [configuration]='config'>
        </ng-material-multilevel-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="applicationContent" style="height: 90vh;">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>