<mat-toolbar id="main-toolbar">
    <mat-toolbar-row>
        <button id="menuToggle"  mat-icon-button (click)="sidenav.toggle();">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <div id="logoToolBar"></div>
        <h1>[ NOMBRE APLICACIÓN ]</h1>
        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: .60em; margin-right: 20px; float: right;"> {{ nombre }} </label>
        <button mat-icon-button (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav id="sidenav" #sidenav [opened]="opened" mode="over" style="width: 250px;">
        <mat-nav-list>
            <mat-list-item *ngFor="let item of listaMenus" [routerLink]="item.menuLink">
                <mat-icon mat-list-icon> {{ item.menuIcon }} </mat-icon>
                <div mat-line> {{ item.menuText }} </div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="applicationContent" style="height: 90vh;">
            <mat-card>
                <app-test-component></app-test-component>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>